In [16]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [9]:
X = pd.read_csv("preprocessed_dependant_variables.csv")

In [10]:
X

,Customer type,Gender,Rating,product line 0,product line 1,product line 2,product line 3,product line 4,payment 0,payment 1
0,1,0,0.933333,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,1,0.016667,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,0.666667,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,0,1,0.133333,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0.583333,0.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
323,1,1,0.350000,1.0,0.0,0.0,0.0,0.0,0.0,0.0
324,1,1,0.333333,0.0,0.0,0.0,1.0,0.0,0.0,0.0
325,0,1,0.050000,0.0,0.0,1.0,0.0,0.0,1.0,0.0
326,0,0,0.316667,1.0,0.0,0.0,0.0,1.0,0.0,0.0
327,1,1,0.366667,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
y = pd.read_csv("preprocessed_independant_variable.csv")

In [14]:
y

        Total
0     80.2200
1    627.6165
2    772.3800
3    451.7100
4    417.5640
..        ...
323  734.7060
324  708.3195
325  864.5700
326   63.9975
327   42.3675

[328 rows x 1 columns]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, test_size = 0.2)

In [39]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [74]:
model = RandomForestRegressor(n_estimators = 100)

In [99]:
model.fit(X_train, y_train)

C:\Users\DELl\AppData\Local\Temp\ipykernel_1336\180087699.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train, y_train)

RandomForestRegressor()

In [100]:
predictions = model.predict(X_test)

In [101]:
ground_truth = np.array(y_test).reshape(-1)

In [102]:
print('Mean Absolute Error (MAE):', metrics.mean_absolute_error(ground_truth, predictions))
print('Mean Squared Error (MSE):', metrics.mean_squared_error(ground_truth, predictions))
print('Root Mean Squared Error (RMSE):', np.sqrt(metrics.mean_squared_error(ground_truth, predictions)))
mape = np.mean(np.abs((ground_truth - predictions) / np.abs(ground_truth)))
print('Mean Absolute Percentage Error (MAPE):', round(mape * 100, 2))
print('Accuracy:', abs(round(100*(1 - mape), 2)))

Mean Absolute Error (MAE): 240.4105540568182
Mean Squared Error (MSE): 88052.1407201655
Root Mean Squared Error (RMSE): 296.73580963571874
Mean Absolute Percentage Error (MAPE): 185.5
Accuracy: 85.5